<div class="account-content">
    <div class="d-flex flex-wrap w-100 vh-100 overflow-hidden account-bg-01">
        <div
            class="d-flex align-items-center justify-content-center flex-wrap vh-100 overflow-auto p-4 w-50 bg-backdrop">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-fill">
                <div class="mx-auto mw-450">
                    <div class="text-center mb-4">
                        <img src="img/logo.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mb-4">
                        <h4 class="mb-2 fs-20">Login</h4>
                        <p class="text-muted mb-0">
                            Une gestion simplifié et fiable
                        </p>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="identifier">Email ou Téléphone *</label>
                        <div class="position-relative">
                            <span class="input-icon-addon">
                                <i class="ti ti-mail"></i>
                            </span>
                            <input type="text" formControlName="identifier" class="form-control"
                                [class.is-invalid]="identifier?.invalid && identifier?.touched"
                                placeholder="Entrez votre email ou téléphone" autocomplete="username">
                            <div class="invalid-feedback" *ngIf="identifier?.invalid && identifier?.touched">
                                <div *ngIf="identifier?.errors?.['required']">L'identifiant est requis</div>
                                <div *ngIf="identifier?.errors?.['minlength']">L'identifiant doit contenir au moins 3
                                    caractères</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="Password">Mot de passe *</label>
                        <div class="pass-group">
                            <input [type]="password[1] ? 'text' : 'password' " formControlName="password"
                                class="pass-input form-control"
                                [class.is-invalid]="passwordField?.invalid && passwordField?.touched"
                                placeholder="Entrez votre mot de passe" autocomplete="current-password">
                            <span class="ti toggle-password " [ngClass]=" password[1] ? 'ti-eye' : 'ti-eye-off'"
                                (click)="togglePassword(1)" (keydown.enter)="togglePassword(1)" tabindex="0"></span>
                            <div class="invalid-feedback" *ngIf="passwordField?.invalid && passwordField?.touched">
                                <div *ngIf="passwordField?.errors?.['required']">Le mot de passe est requis</div>
                                <div *ngIf="passwordField?.errors?.['minlength']">Le mot de passe doit contenir au moins
                                    4 caractères</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="text-end">
                            <a [routerLink]="routes.forgotPassword" class="text-primary fw-medium link-hover">Forgot
                                Password?</a>
                        </div>
                    </div>
                    <div class="mb-3">
                        @if (isLoading) {
                        <button disabled class="btn btn-primary w-100">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                        } @if (!isLoading) {
                        <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
                            <i class="ti ti-login me-2"></i>
                            Se connecter
                        </button>
                        }
                    </div>
                    <!-- <div class="mb-3">
                        <h6>Nouveau sur notre plateforme ?<a [routerLink]="routes.register" class="text-purple link-hover"> 
                            Créer un compte</a>.</h6>
                    </div> -->
                    <div class="mb-3">
                        <h6>Créer un compte admin ?<a routerLink="/auth/register" class="text-success link-hover">
                                Interface Admin</a>.</h6>
                    </div>
                    <div class="text-center">
                        <p class="fw-medium text-gray">Copyright &copy; {{ dateY }} </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>