<div class="d-flex flex-wrap w-100 vh-100 overflow-hidden">
    <div class="d-flex align-items-center justify-content-center flex-fill flex-column vh-100 overflow-auto">
        <div class="error-img mb-4">
            <img src="img/authentication/error-404.png" class="img-fluid" alt="">
        </div>
        <div class="text-center">
            <h3 class="fs-28 mb-3">Oups, quelque chose s'est mal passé</h3>
            <p class="fs-16">Erreur 404 Page non trouvée. Désolé, la page que vous recherchez <br> n'existe pas ou a été déplacée</p>
            <a [routerLink]="routes.dashboard" class="btn btn-primary">
                <i class="ti ti-arrow-narrow-left"></i> Retour au tableau de bord
            </a>
        </div>
    </div> 
</div>